@import '_landing';
@import '_tags';
@import '_rsvp';
@import '_weddingParty';

body {
  margin: 0px auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

nav {
  margin-bottom: 0px !important;
}

.content {
  padding: 40px;
}

#main {
  width: 1440px;
  margin: 0px auto;
}