<h1>Venue</h1>

<p><strong>Time:</strong> 6:00 p.m sharp</p>
<p>Cocktails immediately following</p>
<p><strong>Location:</strong></p>
<p>
<a href="http://vistaatsunnyvale.com/">Vista Golf Course Sunnyvale</a><br/>
605 Macara Ave., Sunnyvale, CA 94085</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50718.29249545664!2d-122.03537700000001!3d37.39235599999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x35feb5c686adae73!2sSunnyvale+Golf+Course!5e0!3m2!1sen!2sus!4v1403387999565" width="600" height="450" frameborder="0" style="border:0"></iframe>

<h2>Hotels</h2>
<p>More information coming in March 2015.</p>