<div id="weddingParty" class="content" data-ng-controller="weddingPartyController">
  <h1>Learn about the Wedding Party</h1>
  <nav id="weddingParty-menu">

    <figure class="weddingParty-member bridesmaid">
      <figcaption>Laura</figcaption>
      <div class="weddingParty-member-img">
        <img src="images/weddingParty/laura.jpg">
      </div>
    </figure>
    <figure class="weddingParty-member bridesmaid">
      <figcaption>Lauren</figcaption>
      <div class="weddingParty-member-img">
        <img src="images/weddingParty/lauren.jpg">
      </div>    </figure>
    <figure class="weddingParty-member bridesmaid">
      <figcaption>Camilla</figcaption>
      <div class="weddingParty-member-img">
        <img src="images/weddingParty/camilla.jpg">
      </div>    
    </figure>
    <!-- <figure class="weddingParty-member groomsman">
      <figcaption>Shawn</figcaption>
      <img src="images/weddingParty/shawn.jpg"> 
    </figure> -->
    <figure class="weddingParty-member groomsman">
      <figcaption>Anhhuy</figcaption>
        <div class="weddingParty-member-img">
        <img src="images/weddingParty/anhhuy.jpg">
      </div>     
    </figure>
    <figure class="weddingParty-member ringbearer">
      <figcaption>Landon</figcaption>
      <div class="weddingParty-member-img">
        <img src="images/weddingParty/landon.jpg">
      </div>     
    </figure>
  </nav>

  <div id="weddingParty-profile">
<!--     <figure id="weddingParty-profile-img">
      <img src="images/weddingParty/"<% {{image}} %> + ".jpg">
    </figure>
    <div class="weddingParty-profile-description">
      {{description}}
    </div> -->
  </div>
</div>