<p>She loves weird food, baking, and needlework.</p>
<p>She grew up in San Francisco, and moved down to San Luis Obispo for five years to
get her Software Engineering degree. As a side bonus, she got her master's in General Engineering.)</p>
<p>Selina is currently a Software Quality Assurance Automation Engineer at Apple.</p>

<p>Tu is an Environmental Engineer at Arcadis.</p>
<p>In between writing love sonnets for Selina, Tu likes to play video games and eat cheesecake.</p>
<p>Tu lived in Paso Robles all his life until he graduated from Cal Poly and moved up to be with Selina.</p>