<div class="content">
  <h1>Extras</h1>
  
  <h2>Contact</h2>
  <p><a href="mailto:selina.and.tu@gmail.com">selina.and.tu@gmail.com</a></p>

  <h2>Registry</h2>
  <p>We prefer sentimental handmade gifts. But if you prefer to squeeze your eyes shut and click some random links: </p>
  <p>Bed, Bath and Beyond offers 
  <a href="http://www.bedbathandbeyond.com/store/static/pricematch">price matching</a>.</p>
  <a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=541800866&eventType=Wedding"><img src="http://www.bedbathandbeyond.com/_assets/global/images/logo/logo_br.png"></a>
</div>