<div class="content" id="party">
  <div class="view">  
    <img src="../../images/camilla.jpg" />  
    <div class="mask">  
      <h2>Camilla</h2>
      <p>Est. Since Cornerstone Academy. Loves soccer. Fulfilled childhood dream of watching Olympics with Selina.
      Studies craniofacial diseases affecting humans by replicating potential solutions in fish and frogs.
      At least that's what Selina thinks it sounded like.</p>
    </div>  
  </div> 

  <div class="view">  
    <img src="../../images/laura.jpg" />  
    <div class="mask">  
      <h2>Laura</h2>  
      <p>Est. Since Lowell Days. Beauty expert. Swept Selina off her feet with an unforgettable umbrella one day
        and Selina fell hard for her. Rilakumma aficionado. Maker of all adorable things.</p>       
    </div>  
  </div> 

  <div class="view">  
    <img src="../../images/lauren.jpg" />  
    <div class="mask">  
      <h2>"OG" LT (Lauren)</h2>  
      <p>Est. Since Cal Poly SLO. College sweethearts. Ok, not really. Foodie lover. Sucker
        for all things cute or R&amp;B. Perfectionist in every single way.</p>       
    </div>  
  </div> 




<p>Huy is Tu’s best man but even more importantly, Huy is Tu’s brother. Growing up, Huy had the pleasure of having his younger brother tag along with all of his friends, something all older siblings want. This made Huy so happy and to this day, is extremely grateful; at least that’s how Tu interprets it.</p>

<p>Matt is Tu’s best friend. While at Cal Poly, they spent a lot of their time partying, doing keg stands, meeting a lot of ladies, and of course, tons of drinking. At least that is what they told people after a weekend of playing Starcraft, tennis, watching replays of Starcraft, and studying together for our engineering courses. Tu remembers getting out of class and spending his hour break just watching Starcraft replays from the night before – it was at this moment, he knew it would be a lasting friendship.</p>

<p>Shawn and Tu are best of friends – one night, Shawn confessed that he likes Tu so much, that he wished they were brothers. So, Tu did the only thing he could to make that happen, he proposed to his sister, Selina Chang. Although, if you ask Shawn about it, he will undoubtedly deny that ever happened but if it didn’t happen, why would Tu propose to Selina?</p>

</div>