
<div id="rsvp" class="content">
  <h1>RSVP</h1>

  <form action="https://docs.google.com/forms/d/1DvZP2Ns1EfG6XjvdPLFDSrL5lTXevYsHJ_Ubh7yAcuQ/formResponse" method="POST" id="ss-form" target="_self" onsubmit="" class="form-horizontal" role="form">
    <div class="form-group">
      <label for="entry_968907602" class="col-sm-2 control-label">First Name</label>
      <div class="col-sm-4">
        <input placeholder="First Name" type="text" name="entry.968907602" value="" class="form-control " id="entry_968907602" dir="auto" aria-label="First Name  " aria-required="true" required="" title="">
      </div>
    </div>
    <div class="form-group">
      <label for="entry_251731624" class="col-sm-2 control-label">Last Name</label>
      <div class="col-sm-4">
        <input placeholder="Last Name" type="text" name="entry.251731624" value="" class="form-control" id="entry_251731624" dir="auto" aria-label="Last Name  " aria-required="true" required="" title="">
      </div>
    </div>
    <div class="form-group">
      <label for="entry_543364464" class="col-sm-2 control-label">E-mail</label>
      <div class="col-sm-5">
        <input placeholder="E-mail" type="email" name="entry.543364464" value="" class="form-control" id="entry_543364464" dir="auto" aria-label="E-mail  Must be a valid email address" title="Must be a valid email address">
      </div>
    </div>

    <div class="form-group">
      <label for="entry_459285406" class="col-sm-2 control-label">Attending the wedding?</label>
      <div class="col-sm-8">
        <div class="col-sm-8">
          <div class="radio">
            <input type="radio" name="entry.1659833932" value="Yes" id="group_1659833932_1" role="radio" aria-label="Yes">
            <label for="group_1659833932_1">Yes, bring on the food!</label>
          </div>
          <div class="radio">
            <input type="radio" name="entry.1659833932" value="No" id="group_1659833932_2" role="radio" aria-label="No">
            <label for="group_1659833932_2">Nah, good luck!</label>
          </div>
        </div>
    </div>
    </div>

    <div class="form-group">
      <label for="entry_763506774" class="col-sm-2 control-label">Number of people attending</label>
      <div class="col-sm-1">
      <input type="text" name="entry.763506774" value="" class="form-control" id="entry_763506774" dir="auto" aria-label="Number of people attending" title="">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="entry_891110319">Song Requests</label>
      <div class="col-sm-5">
        <textarea name="entry.891110319" rows="4" cols="0" id="entry_891110319" class="form-control" dir="auto" 
        aria-label="Artist - Song Title" 
        placeholder="Artist - Song Title" ></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="entry_1503585619">Comments?</label>
      <div class="col-sm-5">
      <textarea name="entry.1503585619" rows="4" cols="0" id="entry_1503585619" class="form-control" dir="auto" aria-label="Comments? Please let us know of dire allergies, the ages and number of children attending, etc" 
      placeholder="Comments? Please let us know of dire allergies, the ages and number of children attending, etc" ></textarea>
    </div>
    </div>

    <input type="hidden" name="draftResponse" value="[,,&quot;-8076334662944844355&quot;]
    ">
    <input type="hidden" name="pageHistory" value="0">
    <input type="hidden" name="fromEmail" value="false">

    <input type="hidden" name="fbzx" value="-8076334662944844355">
    <input type="submit" class="btn btn-default col-sm-offset-3" name="submit" value="Submit" id="ss-submit">
  </form>
</div>