<div id="rsvp" class="content">
  <h1>RSVP</h1>
<!--   <iframe src="https://docs.google.com/forms/d/1wdAsqq4Xnmn7JeALTbUt4LmrKG_Wl8PvoxCMyakJn8E/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> -->


  <form action="https://docs.google.com/forms/d/1wdAsqq4Xnmn7JeALTbUt4LmrKG_Wl8PvoxCMyakJn8E/formResponse?embedded=true" method="POST" id="ss-form" target="_self" onsubmit="" class="form-horizontal" role="form">
    <div class="form-group">
      <label for="entry_2031648208" class="col-sm-2 control-label">First Name</label>
      <input placeholder="First Name" type="text" name="entry.2031648208" value="" class="required form-control " id="entry_2031648208" dir="auto" aria-label="First Name  " aria-required="true" required="" title="">
    </div>
    <div class="form-group">
      <label for="entry_1115776884" class="col-sm-2 control-label">Last Name</label>
      <input placeholder="Last Name" type="text" name="entry.1115776884" value="" class="required form-control" id="entry_1115776884" dir="auto" aria-label="Last Name  " aria-required="true" required="" title="">
    </div>
    <div class="form-group">
      <label for="entry_1718707983" class="col-sm-2 control-label">E-mail</label>
      <input placeholder="E-mail" type="email" name="entry.1718707983" value="" class="form-control" id="entry_1718707983" dir="auto" aria-label="E-mail  Must be a valid email address" title="Must be a valid email address">
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Attending the wedding?</label>
      <div class="col-sm-3">
        <div class="radio">
          <input type="radio" name="entry.1358049224" value="Yes" id="group_1358049224_1" role="radio" aria-label="Yes">
          <label for="group_1358049224_1">Yes</label>
        </div>
        <div class="radio">
          <input type="radio" name="entry.1358049224" value="No" id="group_1358049224_2" role="radio" aria-label="No">
          <label for="group_1358049224_2">No</label>
        </div>
    </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="entry_1319145776">Comments?</label>
      <textarea name="entry.1319145776" rows="4" cols="0" id="entry_1319145776" class="form-control col-sm-8" dir="auto" aria-label="Comments? Please let us know of dire allergies, the ages and number of children attending, song requests, etc." placeholder="Please let us know of any dire allergies, the ages and number of children attending, song requests, etc."></textarea>
    </div>

    <input type="hidden" name="draftResponse" value="[,,&quot;-8076334662944844355&quot;]
    ">
    <input type="hidden" name="pageHistory" value="0">
    <input type="hidden" name="fromEmail" value="false">

    <input type="hidden" name="fbzx" value="-8076334662944844355">
    <input type="submit" class="btn btn-default col-sm-offset-3" name="submit" value="Submit" id="ss-submit">
  </form>
</div>