<p>Dec 2008: Tu and Selina meet on a triple date to watch 9 Pounds. They were with other people at the time. ;)</p>
<p>May 2010: Selina asks Tu to get platonic gelato on Facebook. Tu said yes.</p>
<p>July 2010: Over platonic gelato, Tu teaches Selina the ways of attracting men. A strong friendship was formed.</p>
<p>October 2010: For Tu's birthday, they hiked Bishop's Peak at 4am.</p>
<p>January 2011: Tu visits Selina in Sunnyvale, the further he's ever driven outside of his hometown of Paso Robles.</p>
<p>April 2011: Tu and Selina skydive with friends Miguel and Michelle. Tu and Selina soon begin a romantic relationship.</p>
<p>July 2011: Tu and Selina run their first marathon together.</p>
<p>June 2012: Tu and Selina take their first out of state trip to visit Selina's Uncle Victor and Auntie Annie in Seattle.</p>
<p>June 2013: Tu and Selina go ice climbing in Alaska.</p>
<p>November 2013: Tu gathers all of their friends to propose to Selina in Sarah's Vineyard.</p>