<div id="tags" class="content">
  <h1>#selinaTu</h1>
  <div class="row">
      <p>Although we are planning on having an 
        <a href="http://offbeatbride.com/2011/06/unplugged-wedding">unplugged</a>, 
        <a href="http://www.washingtonpost.com/lifestyle/style/miss-manners-tearing-meat-with-your-hands-is-not-a-good-idea/2015/04/07/598e6ae2-d4b5-11e4-a62f-ee745911a4ff_story.html">off the grid</a>
        ceremony, we are more than happy to share pre/post ceremony moments with the internet!</p>
      <p>So go ahead and tweet, Instagram, or Facebook away (after the ceremony) with #selinaTu.</p>
<!--       <div>
        <input type="text" value="pugs" placeholder="Enter Search Value" data-ng-model="searchValue">
      </div> -->
    <div class="col-xs-6">
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/selinaTu" data-widget-id="601598683700801536">#selinaTu Tweets</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div class="col-xs-6">
      <div id="instagram-results">
        <div class="thumbnail" data-ng-repeat="tag in tagItems">
          <a href="{{tag.link}}"><img alt="{{tag.caption.text}}" class="instagram-result img-responsive" data-ng-src="{{tag.images.low_resolution.url}}"/></a>
          <div class="caption"><i class="fa fa-instagram"></i> {{tag.caption.text}}</div>
        </div>
      </div>
    </div>
  </div>



</div>