#rsvp {

  form {
    padding-top: 20px;
    padding-left: 50px;
  }

  input[type=text],
  input[type=email],
  textarea {
    // margin: 10px 0px;
    width: 300px;
  }

  label.required:after {
    content: "*";
    padding-left:1%;
  }

}

