$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$hintOfMint: #f0fff0;
$mint: rgba(168,224,209,0.8);

@font-face {
  font-family: Quicksand-Bold;
  src: url(../fonts/Quicksand-Bold.otf);
}

@font-face {
  font-family: Quicksand-Dash;
  src: url(../fonts/Quicksand-Dash.otf);
}

@font-face {
  font-family: Quicksand-Book;
  src: url(../fonts/Quicksand-Book.otf);
}

@font-face {
  font-family: Quicksand-BoldItalic;
  src: url(../fonts/Quicksand-BoldItalic.otf);
}
@import "_party.scss";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

// Prevent angular template from being briefly displayed upon loading 
// https://docs.angularjs.org/api/ng/directive/ngCloak
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  margin: auto 0px;
  padding: 0px;
  background-image: url(../images/pomarJunction.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h2 {
  font-family: Quicksand-BoldItalic;
}

.pomar-bg {
  position: relative;
  border-bottom: 1px solid;
  border-bottom-color: #ccc;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  height: 80px;
}

.pomar-bg::before {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20width%3D%221920%22%20height%3D%221120%22%3E%3Cdefs%3E%3Cfilter%20id%3D%22blur%22%3E%3CfeGaussianBlur%20stdDeviation%3D%225%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Cimage%20xlink%3Ahref%3D%22http%3A%2F%2Fplacekitten.com%2F1920%2F1120%22%20width%3D%221920%22%20height%3D%221120%22%20filter%3D%22url%28%23blur%29%22%2F%3E%3C%2Fsvg%3E"), 
                    url(../images/pomarJunction.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%3Cdefs%3E%3Cfilter%20id%3D%22blur%22%3E%3CfeGaussianBlur%20stdDeviation%3D%225%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3C%2Fsvg%3E#blur");
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  content: "";
}

div.text-content {
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000ddd;
  padding: 0.2em 0;
}
 
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
header {
  // border-bottom: 1px solid #e5e5e5;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    width: 20%;
    padding: 10px;
  }
}

nav {
  font-family: Quicksand-Bold;
  margin-top: 10px;
  li {
    a {
      font-size: 30px;
      color: rgba(255,255,255,0.75);
    }
    a.active, a:hover {
      background: none;
      text-shadow: green;
    }
  }
}

nav .nav-pills > li > a:hover {
  background: none;
}

.content {
  background-color: rgba(255,255,255,0.85);
  padding: 40px;
  font-family: Quicksand-Book;
  font-size: 16px;
  margin-top: 20px;
}

/* Custom page footer */
footer {
  position: fixed;
  bottom: 19px;
  padding-top: 19px;
  color: pink;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

#mainContent {
  margin-top: 80px;
}

/* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//   .container {
//     max-width: 730px;
//   }

//   /* Remove the padding we set earlier */
//   .header,
//   .marketing {
//     padding-left: 0;
//     padding-right: 0;
//   }
//   /* Space out the masthead */
//   header {
//     margin-bottom: 30px;
//   }
//   /* Remove the bottom border on the jumbotron for visual effect */
//   .jumbotron {
//     border-bottom: 0;
//   }
// }
