#weddingParty {
  text-align: center;
  h1 {
    margin-top: 0px;
  }
  #weddingParty-menu {
    color: white;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
  }
  .weddingParty-member {
    border: 1px solid gray;
    background: black;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    margin: 0px 4px;
  }
  .weddingParty-member.active.bridesmaid {
    background: pink;
  }
  .weddingParty-member.active.groomsman {
    background: lightblue;
  }
  .weddingParty-member figcaption {
    display: -webkit-box;
    padding: 4px 0px;
  }
  .weddingParty-member-img {
    width: 100px;
    height: 150px;
    overflow: hidden;
  }
  .weddingParty-member img {
    display: -webkit-box;
    -webkit-filter: grayscale(1) sepia(0.3);
    width: 100px;
  }
  .weddingParty-member.active img {
    -webkit-filter: none;
  }
}
