#story {

  .story-container {
    display: flex;
    justify-content: space-between;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-justify-content: space-between;
    overflow: hidden;
  }

  .story-description {
    font-family: "Espacio", Verdana, Geneva, sans-serif;
    font-size: 50px;
    @extend .vertical-center;
  }

  time {
    padding: 40px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    box-pack: start;
  }

  #story-one {
    background-color: black;
    color: white;
    height: 200px;
    img {
      max-height: 200px;
    }
  }

  #story-two {
    background-color: #CFCFCF;
    height: 200px;
    justify-content: flex-start;
    .fa-clock-o {
      position: relative;
      top: -100px;
      font-size: 400px;
      color: #E5D5CF;
    }
    .story-description {
      position: relative;
      z-index: 2;
      margin-left: -343px; // width of the clock
      .line-two {
        margin-left: 303px;
      }
    }
  }

  #story-three {
    height: 240px;

    .powells {
      position: relative;
      top: -80px;
      height: 400px;
    }

  }

  #story-four {
    height: 200px;
    background-color: #CFCFCF;

    .fa-cloud {
      position: relative;
      top: -300px;
      left: -100px;
      color: lightcyan;
      font-size: 800px;
    }

    .fa-cloud.flip {
      top: 50px;
      font-size: 300px;
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
    }

    .fa-sun-o {
      position: relative;
      left: 80px;
      font-size: 200px;
      color: lightyellow;
    }

    .story-description {
      position: relative;
      left: -400px;
    }
  }


}