#landing {
  color: #b36b5c; }
  #landing #landing-description {
    position: absolute;
    top: 200px;
    left: 100px;
    font-size: 20px; }
  #landing h1 {
    font-size: 50px; }
  #landing #field, #landing #landing-gradient {
    position: absolute;
    width: 1440px;
    height: 960px; }
  #landing #field {
    opacity: 1;
    -webkit-transition: opacity 1s ease-in; }
  #landing #landing-gradient {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 70%, white 98%); }

#rsvp input {
  margin: 10px 0px;
  width: 300px; }

#story .story-container {
  display: flex;
  justify-content: space-between;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-justify-content: space-between;
  overflow: hidden; }
#story .story-description {
  font-family: "Espacio", Verdana, Geneva, sans-serif;
  font-size: 50px; }
#story time {
  padding: 40px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  box-pack: start; }
#story #story-one {
  background-color: black;
  color: white;
  height: 200px; }
  #story #story-one img {
    max-height: 200px; }
#story #story-two {
  background-color: #CFCFCF;
  height: 200px;
  justify-content: flex-start; }
  #story #story-two .fa-clock-o {
    position: relative;
    top: -100px;
    font-size: 400px;
    color: #E5D5CF; }
  #story #story-two .story-description {
    position: relative;
    z-index: 2;
    margin-left: -343px; }
    #story #story-two .story-description .line-two {
      margin-left: 303px; }
#story #story-three {
  height: 240px; }
  #story #story-three .powells {
    position: relative;
    top: -80px;
    height: 400px; }
#story #story-four {
  height: 200px;
  background-color: #CFCFCF; }
  #story #story-four .fa-cloud {
    position: relative;
    top: -300px;
    left: -100px;
    color: lightcyan;
    font-size: 800px; }
  #story #story-four .fa-cloud.flip {
    top: 50px;
    font-size: 300px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); }
  #story #story-four .fa-sun-o {
    position: relative;
    left: 80px;
    font-size: 200px;
    color: lightyellow; }
  #story #story-four .story-description {
    position: relative;
    left: -400px; }

#tags #instagram-results {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: center; }
#tags .instagram-result {
  padding: 12px; }

#weddingParty {
  text-align: center; }
  #weddingParty circle {
    fill: #1f77b4;
    fill-opacity: .25;
    stroke: #1f77b4;
    stroke-width: 1px; }
  #weddingParty .leaf circle {
    fill: #CCC1A3;
    fill-opacity: 1; }
  #weddingParty .mask-headshot {
    clip-path: url("#mask-headshot"); }
  #weddingParty circle.bridal-party {
    fill: #FF857F; }
  #weddingParty circle.groom-party {
    fill: #398899; }
  #weddingParty circle.bride-parents {
    fill: #FFFCE8; }
  #weddingParty circle.groom-parents {
    fill: #CC3B37; }

@font-face {
  font-family: "Espacio";
  src: url("../assets/fonts/Espacio.ttf") format("truetype"); }

body {
  margin: 0px auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

nav {
  margin-bottom: 0px !important; }

.content {
  width: 1200px;
  padding: 40px;
  margin: 0px auto; }

#main {
  margin: 0px auto; }

.vertical-center, #story .story-description {
  display: box;
  box-pack: center;
  box-orient: vertical;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical; }
